<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title></title>
    <link rel="stylesheet" href="stylesheets/jquery.mobile-1.4.5.min.css"/>
    <script src="javascript/jquery-2.1.4.min.js" ></script>
    <script src="javascript/jquery.mobile-1.4.5.min.js" ></script>
  </head>
  <body>
      <div data-role="page" id="pag1">
        <div data-role="header" data-position="fixed">
            <h4>Libros</h4>
        </div>
        <div role="main" class="ui-content">
            <ul data-role="listview" id="librosList">
                <li>
                    Item 1
                </li>
                <li>
                    Item 2
                </li>
                <li>
                    Item 3
                </li>
                <li>
                    Item 4
                </li>
                <li>
                    Item 5
                </li>
            </ul>
        </div>
        <div data-role="footer" data-position="fixed">
            <h4>Copyright 2015</h4>
        </div>
      </div>
      <script src="javascript/index.js"></script>
  </body>
</html>
